
#gridContainer{
    display:flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 4px solid black;
}

#title{
    text-align: center;
}

#buttonContainer{
    text-align: center;
   
}


.row{
    display: flex;
    height: 100%;
    width: 100%;
    
}

.newSquare{
    background-color: blue;
    height: 100%;
    width: 100%;
}

.newSquareHovered{
    background-color: red;
    height: 100%;
    width: 100%;
}